@page
@model AuthX.Pages.ForgotPasswordModel

<h2>Forgot Password</h2>

<form method="post">
    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Generate reset link
    </button>
</form>

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <p class="mt-3">@Model.Message</p>
}

@if (!string.IsNullOrWhiteSpace(Model.GeneratedToken))
{
    <div class="alert alert-info mt-3">
        Reset link:
        <a href="@Model.GeneratedToken">@Model.GeneratedToken</a>
    </div>
}