@page
@model IndexModel

<h1>AuthX</h1>
<p>Authentication security project</p>

<p><a asp-page="/Register">Register</a></p>
<p><a asp-page="/Login">Login</a></p>
<p><a asp-page="/ForgotPassword">Forgot Password</a></p>
<p><a asp-page="/Dashboard">Dashboard</a></p>
