@page
@model AuthX.Pages.ResetPasswordModel

<h2>Reset Password</h2>

<form method="post">
    <div class="mb-3">
        <label>Token</label>
        <input asp-for="Token" class="form-control" />
    </div>

    <div class="mb-3">
        <label>New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Reset password
    </button>
</form>

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-info mt-3">
        @Model.Message
    </div>
}